@using DevExtremeAspNetCoreApp1.Models
<h1>Web Api Michal Stanowiska</h1>

@(Html.DevExtreme().DataGrid<Stanowisko>()
    .ElementAttr(new { @class = "dx-card wide-card" })
    .DataSource(d => d.Mvc().Controller("Use").LoadAction("Get").Key("PersonId"))
    .ShowBorders(false)
    .FilterRow(f => f.Visible(true))
    .FocusedRowEnabled(true)
    .FocusedRowIndex(0)
    .ColumnAutoWidth(true)
    .ColumnHidingEnabled(true)
    .Columns(columns => {
        columns.AddFor(m => m.PersonId);
        columns.AddFor(m => m.Position);
        columns.AddFor(m => m.CreationTime);
        columns.AddFor(m => m.UpdateTime);
    })
    .Paging(p => p.PageSize(10))
    .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 5, 10, 20 })
        .ShowInfo(true)
    )
) 